@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00A2FF;
  --secondary: #24E082;
  --accent-1: #FF8961;
  --accent-2: #BC61E6;
}

body {
  font-family: var(--font-mono);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space);
}

.glass-panel {
  @apply bg-white/5 backdrop-blur-xl border border-white/10 shadow-xl;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#00A2FF] via-[#BC61E6] to-[#FF8961];
}